
.main{
    width: 100%;
    background-image: url(bg.jpg);
    background-position: 0cqmax;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

footer {
    background-color: transparent;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.logo{
    border-radius: 100%;

}

image .logo:hover{
    border-radius: 75%;
    border-color: 1px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -1%;
    margin-left: -2%;
}

ul{
    margin-top: -4%;
}


ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(27, 26, 26);
    margin-top: -3%;
    transition: .4s ease;
}

ul li a:hover{
    color: rgb(0, 0, 255);
}

.info{
    margin: 3%;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: rgb(0, 0, 0);
    padding: 0%;
    line-height: 1px;
}

.info h3{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 20px;
    color: rgb(0, 0, 0);
}

.info span{
    color: rgb(53, 0, 244);
}

.info a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    margin: 10px 0;
    padding: 10px 18px;

}

.icons a ion-icon{
    margin-left: 3%;
    color: rgb(0, 0, 0);
    margin-right: -60%;
    font-size: 40px;
}

.icons a ion-icon:hover{
    color: rgb(0, 0, 0);
}

.insta ion-icon{
    margin-left: 3%;
    color: rgb(0, 0, 0);
    margin-right: -60%;
    font-size: 40px;
}

.insta ion-icon:hover{
    color: rgb(0, 0, 0)
} 
.tiktok ion-icon{
    margin-left: 3%;
    color: rgb(0, 0, 0);
    margin-right: -60%;
    font-size: 40px;
}

.tiktok ion-icon:hover{
    color: rgb(0, 0, 0);
}








